body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /* background-image:  url(https://images.unsplash.com/photo-1662047919295-9d3a9d47b3a4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEyMnw2c01WalRMU2tlUXx8ZW58MHx8fHx8) ;
    background-repeat: no-repeat;
    
    background-size: contain; */
    
     
    
}

.container {
    max-width: 450px;
    margin: 100px auto;
    background: none;
    /* background-color: #d6d0d6; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 4 4 10px rgba(0.5, 0.5, 0.5, 0.3);
   
}

 .container:hover{ 
    /* max-width: 800px; */
    
   background-image: url(https://images.unsplash.com/photo-1662047919295-9d3a9d47b3a4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEyMnw2c01WalRMU2tlUXx8ZW58MHx8fHx8);
   background-repeat: no-repeat;
    background-color: #ffffff;
   padding: 25px;
    border-radius: 6px;
    
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
} 

form {
    display: flex;
    flex-direction: column;
   
}

label {
    margin-bottom: 8px;
    border-radius: 2;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

h1:hover{
    text-shadow: 1.5px 1.5px  rgb(163, 158, 158);
   }

button {
    background-color: #8a547e;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #8a4930;
}
